// -----------------------------------------------------------
// DEFINE ALL COLORS VARIABLES
// -----------------------------------------------------------


// Primary Pallettes
// -----------------------------------------------------------

$primary: rgb(110, 208, 98);
$primary-dark: darken($primary, 30%);

// -----------------------------------------------------------

// Secundary Pallettes
// -----------------------------------------------------------

$secundary: rgb(51, 66, 203);
$secundary-dark: darken($secundary, 30%);

// Greyscale Values
// -----------------------------------------------------------

$black: rgb(0, 0, 0);
$grey: lighten($black, 40%);

$white: rgb(255, 255, 255);
$smoke: darken($white, 10%);
$smoke-dark: darken($white, 20%);


// -----------------------------------------------------------
