// --------------------------------------------------------------
// GLOBAL STYLES
// --------------------------------------------------------------


* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

html { font-size: $rem-size;}


body {
  background-color: $smoke;
  color: $primary-dark;
  font-family: $primary-font;
  font-weight: $regular;
}
