// -------------------------------------------------------------
// SITE FONTS
// -------------------------------------------------------------

// Primary Font


@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Rajdhani:300,400,500,600,700');


$primary-font: 'Rajdhani', sans-serif;
$secondary-font: 'Amatic SC', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$ultra: 700;
